@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

body {
  font-family: "Outfit", Arial, sans-serif;
  background-color: var(--stone-100);
  color: var(--stone-900);
  font-size: 16px;
}

section,
h2,
ul,
ol,
table {
  margin-bottom: 2rem;
}

h2,
ul li::marker,
ol li::marker {
  color: var(--brown-800);
  font-weight: bold;
}

main {
  /* background-color: var(--white); */
  background-color: red;
  max-width: 640px;
  margin: 40px auto;
  width: 90%;
  padding: 2rem;
  border-radius: 20px;
}

main img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/* prep-time */
.prep-time {
  background-color: var(--rose-50);
  padding: 1rem;
}

.prep-time h2 {
  color: var(--rose-800);
}

.prep-time ul {
  padding-left: 1rem;
}

.prep-time ul li {
  margin: 1rem;
  text-indent: 1rem;
}

.prep-time ul li::marker {
  color: var(--rose-800);
}

/* ingredients */
.ingredients ul li {
  margin: 1rem;
  text-indent: 1rem;
}

/* instructions */

.instructions {
  border-block: 1px solid var(--stone-150);
  padding-top: 2rem;
}
.instructions ol {
  padding-left: 2rem;
}

.instructions ol li {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

/* table */
table {
  width: 90%;
  border-collapse: collapse;
  margin-left: 2rem;
}

table tr {
  border-bottom: 1px solid var(--stone-150);
}

table td {
  padding: 1rem;
}

table td:last-child {
  color: var(--brown-800);
}

.attribution {
  text-align: center;
  color: var(--stone-600);
}

@media (max-width: 375px) {
  main {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  main img {
    width: 100%;
    border-radius: 0;
  }
}
